body {
    color: #303030;
    margin: 2em 2em 2em 2em;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    font-size: 2.0em;
    color: #002776;
font-family: garamond;
    margin-right: 1.0em;
}

.subtitle {
    margin-top: 0.75em;
    font-size: 1.25em;
    font-style: normal;
font-family: cambria;
}

.i {
    margin-top: 0.75em;
    font-size: 1.25em;
font-style: italic;
font-family: cambria;
}

.link {
    margin-top: 0.75em;
    font-size: 1em;
font-style: italic;
text-decoration: none;
color: #002776;
font-family: cambria;
}

.link:hover {
opacity:0.8!important;
width:200px;
color: #ffffff;
background:#002776;
width:0px;
}

.side {
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #fff;
  overflow-x: hidden;
  padding: 8px 0;
}

.main {
  margin-left: 260px;
  font-size: 12px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .side {padding-top: 15px;}
}